.heading-2 {
    font-weight: 500;
    font-size: 3.6rem;
}

.heading-6 {
    font-size: 1.8rem;
    font-weight: 200;;
}

.collections_desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.see-more {
    font-weight: 300;
    color: rgb(255, 126, 139);
    font-size: 1.6rem;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.collections-list {
    display: flex;
    /* align-items: center; */
    margin-top: 3rem;
    margin-bottom: 10rem;
    gap:10px;
}

.collection {
    position:relative;
    width: 100;
    max-width: 25%;
    height: 32rem; 
    border-radius: 0.6rem;
    overflow: hidden;
}

.collection .image {
    height: 32rem;
}

.collection .image img {
    max-width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0.05) 50%,
        rgba(0, 0, 0, 0.05) 85%
    );
}

.overlay-info {
     position: absolute;
     bottom: 0;
     line-height: 1.5;
     color: rgb(255, 255, 255);
     padding: 0px 1.6rem;
     font-size: 1.8rem;
     width: 100%;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
}

.places {
    font-size: 1.4rem;
    margin: 0.3rem 0px 1rem;
    display: flex;
    align-items: center;
}