.top {
    position: relative;
    height: calc(100vh - 30rem);
    min-height: 42rem;
    max-height: 57rem;
    margin-bottom: 4rem;
}

.top .bg-image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: calc(100vh - 30rem);
    min-height: 42rem;
    max-height: 57rem;
    object-fit: cover;
    width: 100%; 
}

.top .center-content {
    position: absolute;
    bottom: calc(50% - 11.1rem);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main .main-logo {
    height: 6rem;
    width: 30rem;
    position: relative;
}

main .top h1 {
    color:white;
    font-weight: 200;
    font-size: 3.6rem;
    text-align: center;
    margin-top: 3rem;
}

main .top .city {
    font-weight: 400;
}

main .top .search_container {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 0.8rem;
    margin-top: 3rem;
    height: 5.4rem;
    border: 1px solid rgb(232, 232, 232);
    align-items: center;
}

main .top .search_container input {
    border: none;
}

main .top .search_container > div {
    display: flex;
    align-items: center;
}

main .top .search_container .location {
    width: 24rem;
    padding: 0 1rem;
    justify-content: space-around;
}

main .top .search_container .location svg {
    color: rgb(255, 126, 139);
}

main .top .search_container .line {
    width: 0rem;
    height: 2rem;
    border: 0.05rem solid rgb(207, 207, 207);
}

main .top .search_container .search {
    width: 53rem;
    display: flex;
}

main .top .search_container .search input {
    flex: 1;
}

main .top .search_container .search .search_icon {
    width: 6rem;
    margin: -1px -0.6rem -1px -1px;
    display: flex;
    justify-content: center;
}

main .search_container .search .search_icon svg {
    color: rgb(130, 130, 130);
}

main .search_container .search .input {
    font-size: 1.4rem;
}

